:root{
    --cart-card-background-color:#082032;
    --cart-card-aliceblue-color:aliceblue;
    --cart-card-a-hover-color:blueviolet;
    --cart-card-white-color:white;
    --cart-card-black-color:black;
}
body{
    background-image: url('../assets/images/updatedbg.jpeg');
    background-size: cover;
    width:100%;
    height: 100%;
    }
    .wrapper {
      display: grid;
      grid-template-columns: 16rem 1fr;
      grid-template-areas: "filter product";
      width: 100%;
    }
.filter-section{
  grid-area: filter;
    width: 15rem;
}
.filter-container{
    padding:2rem;
}
.card {
    box-shadow:  0 0 2px 1px var(--cart-card-aliceblue-color);
     max-width: 18.75rem;
    /* margin: auto; */
    text-align: center;
    font-family: arial;
    background-color: var(--cart-card-aliceblue-color);
    border-radius: 5px;
  }

  .image-resp-container {
    width: 100%;
    height: 12rem;
  }

  .image-resp {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .price {
    color: grey;
    font-size: 22px;
  }
  .card-btn-add{
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
  .card a {
    border: none;
    outline: 0;
    padding: 0.1em 0.5em;
    color: var(--cart-card-white-color);
    background-color: var(--cart-card-background-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 800;

  }
  .card a{
      text-decoration:  none;
      border-radius:5px;
  }
  .card a:hover {
    color:var(--cart-card-a-hover-color);
    opacity: 1;
    border:none;
    background-color: var(--primary-color)
  }
  .cards{
      display: flex;
      flex-direction: row;
      gap:1rem;
      justify-content: space-evenly;
      text-align:center;
      width:100%;
      flex-wrap: wrap-reverse;
      position: absolute;
    top:10rem;
  }
  .cards-section{
   grid-area: product;
   display:flex;
   gap:4rem;
   flex-wrap: wrap;
   margin-left:7rem;
  }
